*~
.deps
.libs
*.lo
*.o
*.la
rings-*.tar.gz
TAGS
Makefile
config.h
config.log
config.status
libtool
src/Makefile
stamp-h1
test/Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
m4
missing