*~
Makefile
config.h
config.log
config.status
stamp-h1
libtool
.deps
.libs
*.lo
*.o
*.la
rings-*.tar.gz
autom4te.cache

test/vector-check
test/body-test
test/projection-test
test/rotate-test
test/alloc-body-from-elements-test