*~
aclocal.m4
Makefile.in
Makefile
config.h
config.h.in
config.log
config.status
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
stamp-h1
libtool
.deps
.libs
*.lo
*.o
*.la
rings-*.tar.gz
autom4te.cache
TAGS

m4